@use "../../../../../../public/assets/style.scss";
.w100 {
    width: 100%;
}

.w70 {
    width: 68%;
}

.w50 {
    width: 48%;
}

.w30 {
    width: 28%;
}
section{
    @include style.sectionPattern();
    min-height: 80vh;
    justify-content: flex-start;
    gap: 48px;

    .form-admin {
        @include style.displayFlex($direction: column, $justify: center, $aligh: flex-start, $gap: 24px);
        max-width: 70%;
        padding: 24px;
        background-color: style.$primary-bg;
        border-radius: 10px;

        form {
            @include style.displayFlex($wrap: wrap, $justify: space-between);
            row-gap: 24px;

            .div-input {
                display: flex;
                flex-direction: column;
                gap: 4px;

                label {
                    @include style.fontSize($size: 24px, $weight: 600);
                    color: white;
                }

                input {
                    padding: 12px 24px;
                    background: none;
                    color: white;
                    border-radius: 10px;
                    @include style.fontSize($size: 24px, $weight: 500);
                    width: 100%;
                    &[type='file']{
                        background: none;
                    }
                }

                textarea{
                    padding: 12px 24px;
                    background: none;
                    color: white;
                    border-radius: 10px;
                    @include style.fontSize($size: 24px, $weight: 500);
                    width: 100%;
                }
                select{
                    padding: 12px 24px;
                    background: none;
                    color: white;
                    border-radius: 10px;
                    @include style.fontSize($size: 24px, $weight: 500);
                    width: 100%;
                    option{
                        color: black;
                    }
                }
                #file{
                    padding: 12px 24px;
                    background: none;
                    color: white;
                    border-radius: 10px;
                    @include style.fontSize($size: 24px, $weight: 500);
                    width: 100%;
                }
            }

            .button {
                width: 100%;
                justify-content: flex-end;
                align-items: center;
                gap: 16px;
                display: flex;

                button {
                    border: none;
                    border-radius: 10px;
                    padding: 4px 10px;
                    min-width: 120px;
                    height: 40px;
                    margin-left: 8px;
                    cursor: pointer;
                    background-color: style.$primary-text;
                    color: white;
                    @include style.fontSize($size: 22px, $weight: 600);
                &[disabled]{
                    opacity: .5;
                }
                }
                .voltar{
                    @include style.fontSize($size: 22px, $weight: 600);
                    color: white;
                }
            }
        }
    }
}   