<app-header></app-header>
<main>
    <section id="garantia-section">
        <h2>Termos de Garantia</h2>
        
        <div class="div-condicoes">
            <h3>Prazos de Cobertura</h3>
            <p>A GMHardware garante o funcionamento de seus produtos conforme os prazos legais e contratuais:</p>
            <ul>
                <li><b>Garantia Legal:</b> 90 dias conforme o Código de Defesa do Consumidor.</li>
                <li><b>Garantia Estendida:</b> Verifique o manual do fabricante para componentes como GPUs e Fontes (muitos oferecem de 1 a 3 anos).</li>
            </ul>
        </div>

        <div class="div-condicoes">
            <h3>O que a garantia não cobre (Hardware)</h3>
            <p>A garantia será invalidada nos seguintes casos comuns em informática:</p>
            <ul>
                <li><b>Danos Físicos:</b> Pinos de processadores tortos, capacitores arrancados ou trilhas riscadas por má instalação.</li>
                <li><b>Sobrecarga:</b> Componentes com sinais de queima por descargas elétricas ou uso excessivo em overclock fora das especificações.</li>
                <li><b>Violação:</b> Rompimento de lacres de segurança do fabricante ou da loja.</li>
            </ul>
        </div>

        <div class="div-condicoes">
            <h3>Como Acionar</h3>
            <p>Abra um chamado através do nosso painel de suporte anexando fotos do produto e a cópia da Nota Fiscal.</p>
        </div>
    </section>
</main>
<app-footer></app-footer>