@use "../../../../../public/assets/style.scss";

.revisar {
    @include style.displayFlex($direction: column, $aligh: flex-start, $gap: 48px);

    h2 {
        @include style.fontSize($size: 40px, $weight: 600);
        color: white;
    }

    .div-layout {
        @include style.displayFlex($direction: column, $justify: center, $aligh: flex-start, $gap: 24px);
        max-width: 70%;
        padding: 24px;
        background-color: style.$primary-bg;
        border-radius: 10px;

        h3 {
            @include style.fontSize($size: 32px, $weight: 600);
            color: white;
        }

        p {
            @include style.fontSize($size: 24px, $weight: 400);
            color: style.$white-color;
        }

        hr {
            width: 100%;
        }

        button {
            background: none;
            border: none;
            cursor: pointer;
            @include style.displayFlex($justify: flex-start, $width: auto);
            color: style.$descont-color;
            @include style.fontSize($size: 16px, $weight: 600);

        }

        .div-img {
            @include style.displayFlex($justify: flex-start, $gap: 16px);
            align-self: flex-start;

            img {
                border-radius: 100px;
                width: 150px;
                border: 2px solid gray;
            }
        }
    }

    .button {
                width: 70%;
                justify-content: flex-end;
                align-items: center;
                gap: 16px;
                display: flex;

                button {
                    border: none;
                    border-radius: 10px;
                    padding: 4px 10px;
                    min-width: 120px;
                    height: 40px;
                    margin-left: 8px;
                    cursor: pointer;
                    color: white;
                    @include style.fontSize($size: 22px, $weight: 600);
                    &.confirmar{
                        background-color: style.$primary-text;
                    }
                    &.cancelar{
                        @include style.fontSize($size: 22px, $weight: 600);
                        background: none;
                        color: white;
                    }
                }
            }
}