<header>
    <!-- <img src="" alt=""> -->
    <div class="header-search">
        <h1 routerLink="/inicio" aria-label="Nome da loja" i18n>GMHardware</h1>
        <div class="search-bar">
            <input type="text" i18n-placeholder placeholder="Buscar produtos...">
            <i class="fa-solid fa-magnifying-glass" aria-label="icone de pesquisa"></i>
        </div>
        <nav>
            <a routerLink="/login" aria-label="Login">
                <i class="fa-solid fa-circle-user" aria-label="icone de usuário"></i>
            </a>
        </nav>
    </div>
    <nav class="header-nav">
        <a routerLink="./produtos" i18n>Produtos</a>
        <a routerLink="./administradores" i18n>Administradores</a>
        <a routerLink="./dashboard" i18n>Dashboard</a>
    </nav>
</header>