@use "../../../../../public/assets/style.scss";
header{
    
    background-color: style.$primary-bg;
    justify-content: center;
}
.header-search {
    @include style.displayFlex($justify: center, $aligh: center);
    padding: 15px;
    h1{
        text-align: center;
        color: style.$primary-text;
        @include style.fontSize($size: 40px, $weight: 600);
        flex: 1;
        margin-right: 32px;
        cursor: pointer;
    }
    .search-bar {
        @include style.displayFlex($width: 70%, $justify: center);
        flex: 1;
        
        i{
            position: relative;
            color: style.$white-color;
            right: 24px;
        }

        input {
            height: 35px;
            background: none;
            border: 1px solid style.$white-color;
            color: white;
            border-radius: 5px;
            width: 100%;
            padding-right: 30px;
            padding-left: 5px;
        }

    }

    nav {
        @include style.displayFlex($justify: flex-start);
        flex: 1;

        a {
            margin-left: 32px;
            i {
                color: style.$white-color;
            }
        }

    }
}
.header-nav{
    @include style.displayFlex($gap: 32px);
    flex-wrap: wrap;
    a{
        @include style.fontSize($size: 20px);
        margin-left: 16px;
        margin-right: 16px;
        color: style.$white-color;
    }
    padding-bottom: 16px;
}

@media (max-width: 992px) {
    .header-search {
        gap: 16px;
        h1 {
            @include style.fontSize($size: 32px, $weight: 600);
            margin-right: 16px;
        }
        .search-bar {
            @include style.displayFlex($width: 100%, $justify: center);
        }
        nav a {
            margin-left: 16px;
        }
    }
}

// MOBILE (Telas até 768px)
@media (max-width: 768px) {
    .header-search {
        flex-direction: column; // Empilha o título, a busca e o ícone do usuário
        gap: 15px;
        text-align: center;

        h1 {
            text-align: center;
            margin-right: 0;
            width: 100%;
        }

        .search-bar {
            width: 100%;
            order: 2; // Garante que a barra de pesquisa fique abaixo do título
            
            i {
                right: 30px; // Ajuste fino do ícone de lupa no mobile
            }
        }

        nav {
            justify-content: center;
            order: 3;
            width: 100%;
            a {
                margin-left: 0;
            }
        }
    }

    .header-nav {
        justify-content: center; // Centraliza os links de Produtos, Administradores e Dashboard
        gap: 16px;
        a {
            @include style.fontSize($size: 18px);
            margin-left: 8px;
            margin-right: 8px;
        }
    }
}