@use "../../../../../../public/assets/style.scss";
@media(min-width:1200px){
.pagamento {
    @include style.displayFlex($direction: column, $aligh: flex-start, $gap: 24px);
    max-width: 70%;
    min-width: 700px;
    padding: 24px;
    background-color: style.$primary-bg;
    border-radius: 10px;

    h2 {
        @include style.fontSize($size: 40px, $weight: 600);
        color: white;
    }

    hr {
        width: 100%;
    }

    .pagamento-forma {
        @include style.displayFlex($justify: space-between);

        div {
            @include style.displayFlex($direction: column, $aligh: start, $gap: 16px);

            p {
                color: style.$white-color;
                @include style.fontSize($size: 16px, $weight: 400);
            }
        }

        button {
            @include style.displayFlex($width: auto);
            color: style.$success-color;
            border: none;
            background: none;
            height: 100%;
            @include style.fontSize($size: 16px, $weight: 600);
            cursor: pointer;
        }
    }
}

.avancar {
    background-color: style.$primary-bg;
    margin-top: 48px;
    padding: 10px;
    border: 1px solid style.$white-color;
    border-radius: 5px;
    color: style.$success-color;
    @include style.fontSize($size: 16px, $weight: 600);
}
}
@media (min-width: 736px) and (max-width: 1199px) {
.pagamento {
    @include style.displayFlex($direction: column, $justify: center, $aligh: flex-start, $gap: 14px);
    max-width: 100%;
    min-width: 600px;
    padding: 24px;
    background-color: style.$primary-bg;
    border-radius: 10px;

    h2 {
        @include style.fontSize($size: 19px, $weight: 600);
        color: white;
    }

    hr {
        width: 100%;
    }

    .pagamento-forma {
        @include style.displayFlex($justify: space-between);

        div {
            @include style.displayFlex($direction: column, $aligh: start, $gap: 16px);

            p {
                color: style.$white-color;
                @include style.fontSize($size: 14px, $weight: 400);
            }
        }

        button {
            @include style.displayFlex($width: auto);
            color: style.$success-color;
            border: none;
            background: none;
            height: 100%;
            @include style.fontSize($size: 13px, $weight: 600);
            cursor: pointer;
        }
    }
}

.avancar {
    background-color: style.$primary-bg;
    margin-top: 48px;
    padding: 10px;
    border: 1px solid style.$white-color;
    border-radius: 5px;
    color: style.$success-color;
    @include style.fontSize($size: 16px, $weight: 600);
}}
@media(max-width: 736px){
  .pagamento {
    @include style.displayFlex($direction: column, $justify: center, $aligh: flex-start, $gap: 14px);
    max-width: 100%;
    min-width: 400px;
    padding: 24px;
    background-color: style.$primary-bg;
    border-radius: 10px;

    h2 {
        @include style.fontSize($size: 15px, $weight: 600);
        color: white;
    }

    hr {
        width: 100%;
    }

    .pagamento-forma {
        @include style.displayFlex($justify: space-between);

        div {
            @include style.displayFlex($direction: column, $aligh: start, $gap: 16px);

            p {
                color: style.$white-color;
                @include style.fontSize($size: 13px, $weight: 400);
            }
        }

        button {
            @include style.displayFlex($width: auto);
            color: style.$success-color;
            border: none;
            background: none;
            height: 100%;
            @include style.fontSize($size: 11px, $weight: 600);
            cursor: pointer;
        }
    }
}

.avancar {
    background-color: style.$primary-bg;
    margin-top: 48px;
    padding: 10px;
    border: 1px solid style.$white-color;
    border-radius: 5px;
    color: style.$success-color;
    @include style.fontSize($size: 16px, $weight: 600);
}
}
