<section class="section-administradores">
    <div>
        <h2>Administradores</h2>
        <button>Novo Administrador</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Administrador</th>
                <th>Cadastrado</th>
                <th>Ativo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @if(admins()){
            @for (admin of admins(); track admin.id){
            <tr>
                <td>{{ admin.id }}</td>
                <td>{{ admin.name }}</td>
                <td>{{ admin.created_at }}</td>
                <td>@if(admin.active){Ativo}@else {Inativo}</td>
                <td><a href="">Editar</a><a href="">Deletar</a></td>
            </tr>
            }
            }
        </tbody>
    </table>
</section>