@if(loading()){
    <app-loading></app-loading>
}@else{
@if(tamanho() >= 1){
@for(predio of teste(); track predio.id){
<div [routerLink]="[`${rota}`,{ id: predio.id }]" class="div-predios">
    <h2>{{ predio.name }}</h2>
    <div>
        <p>EQUIPAMENTOS NO CONTRATO</p>
        <span>{{ predio.elevadores.length }}</span>
    </div>
    <div>
        <p>TOTAL DE PENDENCIAS</p>
        <span>{{ getPendencias(predio, 'abertas') }}</span>
    </div>
</div>
}
}@else if(tamanho() == undefined){
<div [routerLink]="[`${rota}`,{ id: teste().id }]" class="div-predios">
    <h2>{{ teste().name }}</h2>
    <div>
        <p>EQUIPAMENTOS NO CONTRATO</p>
        <span>{{ teste().elevadores.length }}</span>
    </div>
    <div>
        <p>TOTAL DE PENDENCIAS</p>
        <span>30</span>
    </div>
</div>
}
@else{
nenhum predio cadastrado
}
}