@use "../../../../../public/assets/style.scss";

form {
    width: 380px;

    .input-div {
        @include style.displayFlex($direction: column, $aligh: flex-start, $justify: flex-start);
        margin-bottom: 8px;

        label {
            @include style.fontSize($size: 22px, $weight: 600);
            color: style.$white-color;
        }

        input {
            background: none;
            padding-left: 8px;
            padding-right: 8px;
            @include style.fontSize($size: 18px, $weight: 600);
            color: style.$white-color;
            border: 1px solid style.$white-color;
            border-radius: 10px;
            width: 100%;
            height: 50px;
        }
    }

    #termos {
        appearance: none;
        z-index: 10;
        border: 1px solid white;
        width: 15px;
        border-radius: 5px;
        margin-right: 8px;
        height: 15px;
        cursor: pointer;
        vertical-align: middle;
    }

    #termos:checked {
        appearance: auto;
        border-radius: 5px;
    }

    label[for=termos] {
        color: white;
        vertical-align: middle;

        a {
            color: style.$primary-text;
        }
    }

    .button {
        width: 100%;
        margin-top: 16px;
        justify-content: space-around;
        align-items: flex-end;
        gap: 16px;
        display: flex;

        button {
            border: none;
            border-radius: 10px;
            padding: 4px 10px;
            min-width: 120px;
            margin-left: 8px;
            height: 40px;
            cursor: pointer;
            background-color: style.$primary-text;
            color: white;
            @include style.fontSize($size: 22px, $weight: 600);
        }

        .cadastro {
            display: flex;
            @include style.fontSize($size: 18px, $weight: 600);
            color: style.$white-color;
            justify-content: center;
            align-items: end;
        }
    }
}