<header>
    <!-- <img src="" alt=""> -->
    <div class="header-search">
        <h1>GMHardware</h1>
        <div class="search-bar">
            <input type="text" placeholder="Buscar produtos...">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <nav>
            <a href=""><i class="fa-solid fa-circle-user"></i></a>
            <a href=""><i class="fa-regular fa-heart"></i></a>
            <a href=""><i class="fa-solid fa-cart-arrow-down"></i></a>
        </nav>
    </div>
    <nav class="header-nav">
        <a href="">Placa de vídeo</a>
        <a href="">Processadores</a>
        <a href="">Memórias RAM</a>
        <a href="">SSDs</a>
        <a href="">Gabinetes</a>
        <a href="">Coolers</a>
        <a href="">Fontes</a>
        <a href="">Periféricos</a>
    </nav>
</header>