<header>
    <!-- <img src="" alt=""> -->
    <div class="header-search">
        <h1 routerLink="/inicio" aria-label="Nome da loja">GMHardware</h1>
        <div class="search-bar">
            <input type="text" placeholder="Buscar produtos...">
            <i class="fa-solid fa-magnifying-glass" aria-label="icone de pesquisa"></i>
        </div>
        <nav>
            <a routerLink="login"><i class="fa-solid fa-circle-user" aria-label="icone de usuário"></i></a>
            <a href=""><i class="fa-regular fa-heart" aria-label="icone de favoritos"></i></a>
            <a href=""><i class="fa-solid fa-cart-arrow-down" aria-label="icone de carrinho"></i></a>
        </nav>
    </div>
    <nav class="header-nav">
        <a routerLink="/placas-de-video">Placa de vídeo</a>
        <a routerLink="/processadores">Processadores</a>
        <a routerLink="/memorias-ram">Memórias RAM</a>
        <a routerLink="/ssds">SSDs</a>
        <a routerLink="/gabinetes">Gabinetes</a>
        <a routerLink="/coolers">Coolers</a>
        <a routerLink="/fontes">Fontes</a>
        <a routerLink="/perifericos">Periféricos</a>
    </nav>
</header>