@use "../../../../../../../public/assets/style.scss";
.entrega{
    @include style.displayFlex($direction: column, $aligh: flex-start, $gap: 48px);
    h2{
        @include style.fontSize($size: 40px, $weight: 600);
        color: white;
    }
    .avancar{
        background-color: style.$primary-bg;
        padding: 10px;
        border: 1px solid style.$white-color;
        border-radius: 5px;
        color: style.$success-color;
        cursor: pointer;
        @include style.fontSize($size: 16px, $weight: 600);
    }
}