<app-header></app-header>
<main>
    <section id="devolucao-section">
        <h2>Política de trocas/ Devoluções</h2>
        <div class="div-condicoes">
            <h3>Direito de arrependimento(7 dias).</h3>
            <p>Comprou e mudou de ideia? Sem problemas. Você tem até 7 dias corridos após o recebimento para
                solicitar a devolução.</p>
            <ul>
                <li><b>Condição:</b> O produto deve estar lacrado, na embalagem original, sem sinais de uso ou montagem e com todos os acessórios/manuais.</li>
                <li><b>Hardware sensível:</b> Processadores, memórias e placas com lacres rompidos perdem o direito de devolução por arrependimento se não houver defeito técnico.</li>
            </ul>
        </div>
        <div class="div-condicoes">
            <h3>Troca por Defeito Técnico ou de Fabricação.</h3>
            <p>Caso o produto apresente mau funcionamento ou defeito de fabricação, o prazo para solicitação é de 30 dias (para bens não duráveis) ou 90 dias (para bens duráveis, como hardware).</p>
            <ul>
                <li><b>Análise:</b> O produto passará por uma análise técnica para confirmar o defeito.</li>
                <li><b>Resolução:</b> Se confirmado o defeito, realizaremos a troca por um produto igual ou o reparo. Caso o item esteja fora de estoque, você poderá escolher um vale-compras ou o reembolso.</li>
            </ul>
        </div>
        <div class="div-condicoes">
            <h3>Condições Gerais para Troca.</h3>
            <p>Para que a troca ou devolução seja aceita, as seguintes regras devem ser observadas:</p>
            <ul>
                <li><b>O produto deve ser enviado com a Nota Fiscal (DANFE).</b></li>
                <li><b>Não aceitamos devoluções de produtos com sinais de mau uso, danos físicos (como pinos tortos em processadores ou placas queimadas por overclock) ou lacres de garantia rompidos.</b></li>
            </ul>
        </div>
    </section>
</main>
<app-footer></app-footer>