@use "../../../../public/assets/style.scss";


.produto {
    @include style.displayFlex($gap: 120px);
    background-color: style.$secundary-bg;
    padding: 62px 148px;
    min-height: 80vh;

    .conteudo {
        @include style.displayFlex($direction: column, $justify: flex-start, $aligh: flex-start, $gap: 16px);
        flex: 1;
        height: 100%;
        h1 {
            @include style.fontSize($size: 40px, $weight: 600);
            color: white;
        }
        ul{
            li{
                @include style.fontSize($size: 25px, $weight: 400);
                color: style.$white-color;
                margin-bottom: 8px;
            }
        }
    }
}
@media (max-width: 1400px){
    .produto {
    @include style.displayFlex($gap:120px);
    background-color: style.$secundary-bg;
    padding: 62px 70px;
    min-height: 80vh;

    .conteudo {
        @include style.displayFlex($direction: column, $justify: flex-start, $aligh: flex-start, $gap: 16px);
        flex: 1;
        height: 100%;
        h1 {
            @include style.fontSize($size: 20px, $weight: 600);
            color: white;
        }
        ul{
            li{
                @include style.fontSize($size: 20px, $weight: 400);
                color: style.$white-color;
                margin-bottom: 8px;
            }
        }
    }
}
}