<main>
    <div class="main-apresentacao">
        <h1 aria-label="Apresentação">Componentes de Computador de Qualidade</h1>
        <p aria-label="Paragrafo sobre a loja">Encontre as melhores placas de vídeo, processadores, memória RAM e muito mais para montar seu PC dos sonhos.</p>
        <div>
            <button>Explorar produtos</button>
            <button>Ver promoções</button>
        </div>
    </div>
    <div class="main-image">
        <img src="" alt="Imagem de apresentação">
    </div>
</main>
