@use "../../../../public/assets/style.scss";
main{
    @include style.displayFlex($gap: 120px);
    background: linear-gradient(to right, #1F2743, #2A2A4A, #5A3327);
    width: 100%;
    min-height: 680px;
    padding: 24px 88px;
    .main-apresentacao{
        @include style.displayFlex($direction: column, $gap: 24px);
        height: 80%;
        flex: 1;
        h1{
            @include style.fontSize($size: 80px, $weight: 700);
            color: white;
        }
        p{
            @include style.fontSize($size: 32px, $weight: 400);
            color: style.$white-color;
        }
    }
    .main-image{
        flex: .4
    }
}