<div class="search-container">
  <div class="search-input-wrapper">
    <input
      type="text"
      [formControl]="searchControl"
      placeholder="Buscar hardware (ex: placa de vídeo)..."
      class="search-input"
      (blur)="closeDropdown()"
      (focus)="searchResults.length > 0 ? showDropdown = true : null"
    >

    @if (isSearching) {
      <span class="loading-spinner">Buscando...</span>
    } @else {
      <i class="fa-solid fa-magnifying-glass search-icon"></i>
    }
  </div>

  <!-- Lista Suspensa de Resultados -->
  @if (showDropdown && searchResults.length > 0) {
    <div class="search-dropdown">
      <ul class="result-list">
        @for (product of searchResults; track product.id) {
          <li class="result-item" (mousedown)="onProductSelect(product.id)">
            <img [src]="product.image_url" [alt]="product.name" class="product-thumb">

            <div class="product-info">
              <span class="product-name">{{ product.name }}</span>
              <span class="product-price">{{ product.price | currency:'BRL' }}</span>
            </div>
          </li>
        }
      </ul>
    </div>
  }
</div>
