@use "../../../../public/assets/style.scss";

.cards-produtos{
    @include style.displayFlex($direction: row, $wrap: wrap, $justify: flex-start, $gap: 48px);
    .card-produto{
        @include style.displayFlex($direction: column, $width: 360px, $aligh: flex-start, $justify: flex-start, $gap: 8px);
        border-radius: 10px;
        height: 600px;
        padding-bottom: 20px;
        border: 1px solid style.$white-color;
        img{
            width: 100%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        span{
            color: style.$white-color;
            margin-left: 8px;
            margin-right: 8px;
            @include style.fontSize($size: 22px, $weight: 400);
        }
        h4{
            color: white;
            margin-left: 8px;
            margin-right: 8px;
            @include style.fontSize($size: 35px, $weight: 600);
        }
        p{
            color: white;
            margin-left: 8px;
            margin-right: 8px;
            @include style.fontSize($size: 30px, $weight: 600);
        }
        .card-buttons{
            @include style.displayFlex($justify: flex-end, $gap: 16px);
            padding-right: 8px;
            button{
                color: white;
                border: none;
                border-radius: 10px;
                padding: 5px;
                cursor: pointer;
                @include style.fontSize($size: 20px, $weight: 600);
                &.carrinho{
                    background-color: style.$primary-text;
                }
                &.comprar{
                    background: none;
                }
            }
        }
    }
}