<div class="cards-produtos">
   @for(item of produtos(); track item.id){
    @if(item.category.name == categoria){
    <div class="card-produto">
        <img [routerLink]="['/produto',{ id: item.id }]" ngSrc="{{ item.image_url }}" alt="Imagem do produto" width="360" height="360"  >
        <span>Avaliações: 4.8(243)</span>
        <h4>{{ item.name }}</h4>
        <p><span>R$</span>{{ item.price }}</p>
        <div class="card-buttons">
            <button class="carrinho"><i class="fa-solid fa-cart-arrow-down" aria-label="icone de carrinho"></i>
                Carrinho</button>
            <button class="comprar">Comprar</button>
        </div>
    </div> 
    <!-- Método lento, faz o angular calcular duas vezes a lista de itens -->
    }
    @else if (categoria === 'todos') {
    <div class="card-produto">
        <img [routerLink]="['/produto',{ id: item.id }]" ngSrc="{{ item.image_url }}" alt="Imagem do produto" width="360" height="360">
        <span>Avaliações: 4.8(243)</span>
        <h4>{{ item.name }}</h4>
        <p><span>R$</span>{{ item.price }}</p>
        <div class="card-buttons">
            <button class="carrinho"><i class="fa-solid fa-cart-arrow-down" aria-label="icone de carrinho"></i>
                Carrinho</button>
            <button class="comprar">Comprar</button>
        </div>
    </div>
    } 
    }@empty {
        <p>Nenhum hardware encontrado nessa categoria</p>
} 
    <div class="card-produto">
        <img routerLink="/produto" ngSrc="/assets/main.jpg" alt="Imagem do produto" width="360" height="360">
        <span>Avaliações: 4.8(243)</span>
        <h4>Teclado RGB </h4>
        <p><span (click)="teste2('2')">R$</span>100,00</p>
        <div class="card-buttons">
            <button class="carrinho"><i class="fa-solid fa-cart-arrow-down" aria-label="icone de carrinho"></i>
                Carrinho</button>
            <button class="comprar">Comprar</button>
        </div>
    </div>
</div>