<div class="cards-produtos">
    <div class="card-produto">
        <img ngSrc="/assets/main.jpg" alt="Imagem do produto" width="360" height="360">
        <span>Avaliações: 4.8(243)</span>
        <h4>RTX 4090 Super</h4>
        <p><span>R$</span>9.999,99</p>
         <div class="card-buttons">
            <button class="carrinho"><i class="fa-solid fa-cart-arrow-down" aria-label="icone de carrinho"></i>  Carrinho</button>
            <button class="comprar">Comprar</button>
        </div>
    </div>
    <div class="card-produto">
        <img ngSrc="/assets/main.jpg" alt="Imagem do produto" width="360" height="360">
        <span>Avaliações: 4.8(243)</span>
        <h4>RTX 4090 Super</h4>
        <p><span>R$</span>9.999,99</p>
        <div class="card-buttons">
            <button class="carrinho"><i class="fa-solid fa-cart-arrow-down" aria-label="icone de carrinho"></i>  Carrinho</button>
            <button class="comprar">Comprar</button>
        </div>
    </div>
     <div class="card-produto">
        <img ngSrc="/assets/main.jpg" alt="Imagem do produto" width="360" height="360">
        <span>Avaliações: 4.8(243)</span>
        <h4>RTX 4090 Super</h4>
        <p><span>R$</span>9.999,99</p>
        <div class="card-buttons">
            <button class="carrinho"><i class="fa-solid fa-cart-arrow-down" aria-label="icone de carrinho"></i>  Carrinho</button>
            <button class="comprar">Comprar</button>
        </div>
    </div>
     <div class="card-produto">
        <img ngSrc="/assets/main.jpg" alt="Imagem do produto" width="360" height="360">
        <span>Avaliações: 4.8(243)</span>
        <h4>RTX 4090 Super</h4>
        <p><span>R$</span>9.999,99</p>
        <div class="card-buttons">
            <button class="carrinho"><i class="fa-solid fa-cart-arrow-down" aria-label="icone de carrinho"></i>  Carrinho</button>
            <button class="comprar">Comprar</button>
        </div>
    </div>
     <div class="card-produto">
        <img ngSrc="/assets/main.jpg" alt="Imagem do produto" width="360" height="360">
        <span>Avaliações: 4.8(243)</span>
        <h4>RTX 4090 Super</h4>
        <p><span>R$</span>9.999,99</p>
        <div class="card-buttons">
            <button class="carrinho"><i class="fa-solid fa-cart-arrow-down" aria-label="icone de carrinho"></i>  Carrinho</button>
            <button class="comprar">Comprar</button>
        </div>
    </div> <div class="card-produto">
        <img ngSrc="/assets/main.jpg" alt="Imagem do produto" width="360" height="360">
        <span>Avaliações: 4.8(243)</span>
        <h4>RTX 4090 Super</h4>
        <p><span>R$</span>9.999,99</p>
        <div class="card-buttons">
            <button class="carrinho"><i class="fa-solid fa-cart-arrow-down" aria-label="icone de carrinho"></i>  Carrinho</button>
            <button class="comprar">Comprar</button>
        </div>
    </div>
</div>