<app-header></app-header>
<main class="produto">
    @if (produto()){
    <app-imagem-produto [url]="produto().image_url"></app-imagem-produto>
    <div class="conteudo">
        <h1 (click)="teste()">{{ produto().name }}</h1>
        <ul>
            @for (especificacao of especificacoes(); track $index){
            <li style="white-space: pre-line;">{{ especificacao }}</li>
            }
        </ul>
        <app-adicionar-produto [produtoID]="produto().id" [price]="produto().price"></app-adicionar-produto>
    </div>
    }
    @else{
    <p>Carregando Produto</p>
    }
</main>
<app-footer></app-footer>