<app-header></app-header>
<router-outlet></router-outlet>
<!-- <app-apresentacao></app-apresentacao>
<app-mais-vendidos></app-mais-vendidos> -->
<!-- @for (item of produtos(); track item.id){
    <div class="card-produto">
      <img [src]="item.imagem" alt="{{ item.nome }}">
      <h3>{{ item.nome }}</h3>
      <p>{{ item.descricao }}</p>
      <span class="preco">R$ {{ item.preco }}</span>
      <button (click)="adicionarItem(item)">Adicionar ao Carrinho</button>
    </div>
} @empty{
    <p>Carregando produtos ou nenhum item encontrado...</p>
}
<div>
    <p>{{ cart.quantidadeTotal() }} Itens no carrinho</p>
</div> -->