<section>
    <div>
        <h2>Produtos</h2>
        <button>Novo Produto</button>    
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Produto</th>
                <th>Cadastrado</th>
                <th>Estoque</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @if(products()){
            @for (product of products(); track product.id){
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.created_at }}</td>
                <td>@if(product.stock > 0){{{ product.stock }}}@else {Produto sem estoque}</td>
                <td><a href="">Editar</a><a href="">Deletar</a></td>
            </tr>
            }
            }
        </tbody>
    </table>
</section>