<div class="pagamento">
    <div class="pagamento-forma">
        <div>
            <h2>Pix</h2>
            <p>Aprovação imediata</p>
        </div>
        <!-- Trocamos o routerLink pela nossa função -->
        <button>Selecionar</button>
    </div>
    <hr>
    <div class="pagamento-forma">
        <div>
            <h2>Cartão de crédito</h2>
            <p>Aprovação em até 10 minutos</p>
        </div>
        <!-- Trocamos o routerLink pela nossa função -->
        <button>Selecionar</button>
    </div>
</div>
