<div class="main-produto">
    @if (imagemEmDestaque()) {
        <img id="principal" [ngSrc]="imagemEmDestaque()" alt="Imagem do produto principal" width="500" height="500" priority>
    }

    <div class="imagens">
        @for (foto of galeriaImagens(); track $index) {
            <img 
                [ngSrc]="foto" 
                alt="Miniatura do produto" 
                width="100" 
                height="100"
                style="object-fit: cover;"
                (click)="selecionarImagem(foto)"
                [class.active]="imagemEmDestaque() === foto"
            >
        }
    </div>
</div>