<div class="conteudo-login">
  <p i18n>Seja bem vindo ao GMHardware</p>
  <form action="" method="post">
    <div class="campo-email alinhar">
      <label for="email" i18n>Email:</label>
      <input type="email" i18n-placeholder placeholder="Digite seu email">
    </div>
    <div class="campo-senha alinhar">
      <label for="senha" i18n>Senha:</label>
      <input type="password" i18n-placeholder placeholder="Digite sua senha">
    </div>
    <div class="campo-comfirmar-senha alinhar">
      <label for="senha" i18n>Confirmar Nova Senha:</label>
      <input type="password" i18n-placeholder placeholder="Confirme sua nova senha">
    </div>
  </form>
  <div class="button">
    <button type="button" class="nova-senha" i18n>Nova Senha</button>
  </div>
</div>