<section>
  <h2 class="enderecos-title" id="novoCategoriaTitulo">Cadastrar Categoria</h2>

  <div class="enderecos-list">
    <div class="endereco-item form-card">
      
      <!-- Formulário de Cadastro -->
      <form [formGroup]="formCategory" (ngSubmit)="onSubmit()">
        <div class="div-input w100">
          <label for="name" class="form-label" id="novoCategoriaNome">Nome da categoria:</label>
          <input type="text" formControlName="name" id="name" placeholder="Exemplo: Hardware" class="form-input" required>
        </div>

        <div class="form-actions">
          <a routerLink="/admin" class="endereco-excluir btn-cancel" id="novoCategoriaVoltar">Voltar</a>
          <button [disabled]="formCategory.invalid" type="submit" class="btn-adicionar btn-submit" id="novoCategoriaSalvar">Salvar</button>
        </div>
      </form>

      <!-- Subseção de Listagem Interna -->
      <div class="sub-section-container">
        <h3 class="sub-section-title" id="adminCategoriasCadastradasTitulo">Categorias Cadastradas</h3>

        <div class="table-responsive">
          <table>
            <thead>
              <tr>
                <th class="col-id" id="adminCategoriasTabelaId">ID</th>
                <th class="col-name" id="adminCategoriasTabelaNome">Nome</th>
                <th class="col-actions" id="adminCategoriasTabelaAcoes">Ações</th>
              </tr>
            </thead>
            <tbody>
              @for (categoria of categorias(); track categoria.id) {
                <tr>
                  <td class="col-id">#{{ categoria.id }}</td>
                  <td class="col-name name-cell">{{ categoria.name }}</td>
                  <td class="col-actions acoes">
                    <button
                      type="button"
                      (click)="deletarCategoria(categoria.id, categoria.name)"
                      class="action-btn-text delete"
                      title="Excluir Categoria"
                      id="adminCategoriasBotaoExcluir">
                      Excluir
                    </button>
                  </td>
                </tr>
              } @empty {
                <tr>
                  <td colspan="3" class="empty-table-cell" id="adminCategoriasTabelaVazia">
                    Nenhuma categoria cadastrada.
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</section>