<section class="footer">
    <div class="footer-div">
        <div class="footer-contato">
            <h4>GMHardware</h4>
            <p>A melhor loja de componentes de computador do Brasil. Qualidade, preço justo e entrega rápida.</p>
        </div>
        <ul>
            <h4>Suporte</h4>
            <li><a href="">Contato</a></li>
            <li><a href="">Garantia</a></li>
            <li><a routerLink="/devolucao">Devolução</a></li>
        </ul>
    </div>
    <p class="direitos">© 2026 HardwareHub. Todos os direitos reservados.</p>
</section>