<section class="footer">
    <div class="footer-div">
        <div class="footer-contato">
            <h4 id="footerCustomerMarca">GMHardware</h4>
            <p id="footerCustomerDescricao">A melhor loja de componentes de computador do Brasil. Qualidade, preço justo e entrega rápida.</p>
        </div>
        <ul>
            <h4 id="footerCustomerSuporteTitulo">Suporte</h4>
            <li><a href="/contato" id="footerCustomerLinkContato">Contato</a></li>
            <li><a href="/garantia" id="footerCustomerLinkGarantia">Garantia</a></li>
            <li><a routerLink="/devolucao" id="footerCustomerLinkDevolucao">Devolução</a></li>
        </ul>
    </div>
    <p class="direitos" id="footerCustomerDireitos">© 2026 HardwareHub. Todos os direitos reservados.</p>
</section>