<div class="listaCarrinho">
    
<div class="itemCarrinho">

    <div class="descricaoProduto">
<div class="seletorQuantidade">
    <button (click)="decrease()"><</button>
    <span>{{quantidade}}</span>
    <button (click)="increase()">></button>
</div>
    <img src="https://media.pichau.com.br/media/catalog/product/cache/2f958555330323e505eba7ce930bdf27/1/0/100-100000926wof.jpg" alt="Processador">

<div class="textosItem">
    <h3>Processador AMD Ryzen 7</h3>
    <h4>R$ 1199,00</h4>
</div>
</div>
<div class="grupoBotoes">
    <button class="btnExcluir">Excluir</button>
    <button class="btnComprar">Comprar</button>
</div>
    
</div>
<div class="itemCarrinho">

    <div class="descricaoProduto">
<div class="seletorQuantidade">
    <button (click)="decrease()"><</button>
    <span>{{quantidade}}</span>
    <button (click)="increase()">></button>
</div>
    <img src="https://media.pichau.com.br/media/catalog/product/cache/2f958555330323e505eba7ce930bdf27/1/0/100-100000926wof.jpg" alt="Processador">

<div class="textosItem">
    <h3>Processador AMD Ryzen 7</h3>
    <h4>R$ 1199,00</h4>
</div>
</div>
<div class="grupoBotoes">
    <button class="btnExcluir">Excluir</button>
    <button class="btnComprar">Comprar</button>
</div>
    
</div>
<div class="itemCarrinho">

    <div class="descricaoProduto">
<div class="seletorQuantidade">
    <button (click)="decrease()"><</button>
    <span>{{quantidade}}</span>
    <button (click)="increase()">></button>
</div>
    <img src="https://media.pichau.com.br/media/catalog/product/cache/2f958555330323e505eba7ce930bdf27/1/0/100-100000926wof.jpg" alt="Processador">

<div class="textosItem">
    <h3>Processador AMD Ryzen 7</h3>
    <h4>R$ 1199,00</h4>
</div>
</div>
<div class="grupoBotoes">
    <button class="btnExcluir">Excluir</button>
    <button class="btnComprar">Comprar</button>
</div>
    
</div>
<div class="itemCarrinho">

    <div class="descricaoProduto">
<div class="seletorQuantidade">
    <button (click)="decrease()"><</button>
    <span>{{quantidade}}</span>
    <button (click)="increase()">></button>
</div>
    <img src="https://media.pichau.com.br/media/catalog/product/cache/2f958555330323e505eba7ce930bdf27/1/0/100-100000926wof.jpg" alt="Processador">

<div class="textosItem">
    <h3>Processador AMD Ryzen 7</h3>
    <h4>R$ 1199,00</h4>
</div>
</div>
<div class="grupoBotoes">
    <button class="btnExcluir">Excluir</button>
    <button class="btnComprar">Comprar</button>
</div>
    
</div>

</div>


