@use "../../../../../public/assets/style.scss";

.finalizar-pedido {
    @include style.sectionPattern();

    .avancar {
        background-color: style.$primary-bg;
        padding: 10px;
        border: 1px solid style.$white-color;
        border-radius: 5px;
        color: style.$success-color;
        @include style.fontSize($size: 16px, $weight: 600);
    }

    h2 {
        @include style.fontSize($size: 40px, $weight: 600);
        color: white;
    }

    .grupoItens {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
        

    }

    

}