.conteudo-login{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form{
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.500);
  gap: 5px;
}

form input{
  background-color: transparent;
  border: 1px solid;
    color: white;
    padding: 5px;
  border-color: rgba(255, 255, 255, 0.500);
  height: 30px;
  border-radius: 5px;
}

.termos{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  color: rgba(255, 255, 255, 0.500);
  font-size: 14px;
}

.button{
  display: flex;
  justify-content: center;
}

.cadastrar{
  background-color: #2563EB;
  color: white;
  padding: 3px 5px 3px 5px;
  border-radius: 5px;
  border: none;
  width: 50%;
}

.alinhar{
  display: flex;
  flex-direction: column;
}
