<div class="conteudo-login">
  <p i18n>Seja bem vindo ao GMHardware</p>
  <form action="" method="post">
    <div class="campo-email alinhar">
      <label for="email" i18n>Email:</label>
      <input type="email" i18n-placeholder placeholder="Digite seu email">
    </div>
    <div class="campo-senha alinhar">
      <label for="senha" i18n>Senha:</label>
      <input type="password" i18n-placeholder placeholder="Digite sua senha">
    </div>
    <div class="campo-comfirmar-senha alinhar">
      <label for="senha" i18n>Confirmar Senha:</label>
      <input type="password" i18n-placeholder placeholder="Confirme sua senha">
      <div class="termos">
          <input type="checkbox" name="termos" id="termos" class="caixa-termo">
          <label for="termos" i18n>Li e concordo com os termos</label>
      </div>
    </div>
  </form>
  <div class="button">
    <button type="button" class="cadastrar" i18n>Cadastrar</button>
  </div>
</div>