<div class="conteudo-login">
  <p id="baseLoginLoginBoasVindas">Seja bem vindo ao GMHardware</p>

  <!-- Adicionamos o [formGroup] aqui -->
  <form [formGroup]="formLogin" (ngSubmit)="onLogin()">

    <div class="campo-email alinhar">
      <label for="email" id="baseLoginLoginEmail">Email:</label>
      <!-- Adicionamos o formControlName -->
      <input type="email" id="email" formControlName="email" placeholder="Digite seu email">
    </div>

    <div class="campo-senha alinhar">
      <label for="senha" id="baseLoginLoginSenha">Senha:</label>
      <!-- Adicionamos o formControlName -->
      <input type="password" id="senha" formControlName="password" placeholder="Digite sua senha">
      <a href="/nova-senha" class="esqueceu-sua-senha" id="baseLoginLoginEsqueceuSenha">Esqueceu sua Senha?</a>
    </div>

    <div class="buttons">
  <button type="button" routerLink="/cadastro" class="cadastrar" id="baseLoginLoginBtnCadastrar" [disabled]="logando()">Cadastrar</button>

  <button type="submit" class="login" [disabled]="formLogin.invalid || logando()" id="baseLoginLoginBtnLogin">
    @if (logando()) {
      <div class="spinner-container">
        <span class="spinner"></span>
        <span>Entrando...</span>
      </div>
    } @else {
      Login
    }
  </button>
</div>

  </form>
</div>
