<div class="conteudo-login">
  <p i18n>Seja bem vindo ao GMHardware</p>
  <form action="" method="post">
    <div class="campo-email alinhar">
      <label for="email" i18n>Email:</label>
      <input type="email" i18n-placeholder placeholder="Digite seu email">
    </div>
    <div class="campo-senha alinhar">
      <label for="senha" i18n>Senha:</label>
      <input type="password" i18n-placeholder placeholder="Digite sua senha">
      <a href="" class="esqueceu-sua-senha" i18n>Esqueceu sua Senha?</a>
    </div>
  </form>
  <div class="buttons">
    <button routerLink="/cadastro" class="cadastrar" i18n>Cadastrar</button>
    <button type="button" class="login" i18n>Login</button>
  </div>
</div>