<div class="conteudo-login">
  <p>Seja bem vindo ao GMHardware</p>
  <form action="" method="post">
    <div class="campo-email alinhar">
      <label for="email">Email:</label>
      <input type="email">
    </div>
    <div class="campo-senha alinhar">
      <label for="senha">Senha:</label>
        <input type="password">
        <a href="" class="esqueceu-sua-senha">Esqueceu sua Senha?</a>
    </div>
  </form>
  <div class="buttons">
    <button routerLink="/cadastro" class="cadastrar">Cadastrar</button>
    <button type="button" class="login">Login</button>
  </div>
</div>
