<header>
    <!-- <img src="" alt=""> -->
    <div class="header-search">
        <h1 routerLink="/inicio" aria-label="Nome da loja" id="headerCustomerTituloLoja">GMHardware</h1>
        <app-search-bar></app-search-bar>
        <nav>
            @if (authService.isAuthenticated()) {
            <a routerLink="/perfil"><i class="fa-solid fa-circle-user" aria-label="Acessar Perfil"></i></a>
            } @else {
            <a routerLink="/login"><i class="fa-solid fa-circle-user" aria-label="Fazer Login"></i></a>
            }
            <a href=""><i class="fa-regular fa-heart" aria-label="icone de favoritos"></i></a>
            <a routerLink="/carrinho" id="cart"><i class="fa-solid fa-cart-arrow-down"
                    aria-label="icone de carrinho"></i><span>{{ quantidadeCarrinho() }}</span></a>
        </nav>
    </div>
    <nav class="header-nav">
        <a routerLink="/placas-de-video" id="headerCustomerNavPlacasVideo">Placa de vídeo</a>
        <a routerLink="/processadores" id="headerCustomerNavProcessadores">Processadores</a>
        <a routerLink="/memorias-ram" id="headerCustomerNavMemoriasRam">Memórias RAM</a>
        <a routerLink="/ssds" id="headerCustomerNavSsds">SSDs</a>
        <a routerLink="/gabinetes" id="headerCustomerNavGabinetes">Gabinetes</a>
        <a routerLink="/coolers" id="headerCustomerNavCoolers">Coolers</a>
        <a routerLink="/fontes" id="headerCustomerNavFontes">Fontes</a>
        <a routerLink="/perifericos" id="headerCustomerNavPerifericos">Periféricos</a>
        <div class="language-buttons">
            <button (click)="changeLanguage('pt')">PT</button>
            <button (click)="changeLanguage('en')">EN</button>
        </div>
    </nav>
</header>