<header>
    <!-- <img src="" alt=""> -->
    <div class="header-search">
        <h1 routerLink="/inicio" aria-label="Nome da loja">GMHardware</h1>
        <div class="search-bar">
            <input type="text" placeholder="Buscar produtos..." i18n>
            <i class="fa-solid fa-magnifying-glass" aria-label="icone de pesquisa"></i>
        </div>
        <nav>
            <a routerLink="login"><i class="fa-solid fa-circle-user" aria-label="icone de usuário"></i></a>
            <a href=""><i class="fa-regular fa-heart" aria-label="icone de favoritos"></i></a>
            <a href=""><i class="fa-solid fa-cart-arrow-down" aria-label="icone de carrinho"></i></a>
        </nav>
    </div>
    <nav class="header-nav">
        <a routerLink="/placas-de-video" i18n>Placa de vídeo</a>
        <a routerLink="/processadores" i18n>Processadores</a>
        <a routerLink="/memorias-ram" i18n>Memórias RAM</a>
        <a routerLink="/ssds" i18n>SSDs</a>
        <a routerLink="/gabinetes" i18n>Gabinetes</a>
        <a routerLink="/coolers" i18n>Coolers</a>
        <a routerLink="/fontes" i18n>Fontes</a>
        <a routerLink="/perifericos" i18n>Periféricos</a>
    </nav>
</header>